{%extends 'base.html'%}
{%block content%}
<style>
  body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
</style>
   <body>
      <div class="container" style="padding: 10px;">
        {%for message in get_flashed_messages()%}
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {%endfor%}
      </div>
      <section class="vh-100 gradient-custom">
         <div class="container py-5 h-100">
           <div class="row d-flex justify-content-center align-items-center h-100">
             <div class="col-12 col-md-8 col-lg-6 col-xl-5">
               <div class="card bg-dark text-white" style="height:500px;border-radius:10px ;">

                 <div class="card-body p-5 text-center">
                  <h5>Free period calculator</h5>
                    <p>Enter details of student-{{number}}</p>
                     <p class="text-white-50 mb-5">Enter your Register number and Date of birth!</p>
                  <div class="mb-md-5 mt-md-4 pb-5">
                     <form method = "POST">
                        <div class="form-group">
                
                          <input placeholder="Register no." type="text" class="form-control" name = "regnumber" id="exampleInputEmail1" aria-describedby="emailHelp" style="height: 30px;">
                        </div>
                        <div class="form-group">
                    
                          <input type="password" class="form-control" name = "pwd"  id="exampleInputPassword1" placeholder="ddmmyyyy" style="height: 30px;">
                        </div>
                        <div class="form-group">
                  
                          <input placeholder = "captcha" type="text" class="form-control" id = "captcha" name = "captcha" placeholder="Enter captcha" style="height: 30px;">
                          <br>
                          <img src="{{url_for('static',filename = 'captcha1.png')}}" alt="Nothing">
                
                          
                        </div>
                        <button type="submit" class="btn btn-outline-primary" style="height:40px;">Submit</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         </div>
         </div>
   </section>
   </body>
{%endblock%}